{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">

    <h1>Have a nice day!<span><h2><i class="glyphicon glyphicon-grain"></span></h2></i></h1>
  </div>
</div>
<div class="container">
</div>

<div>
     <h2><p class="text-center"><span class="glyphicon glyphicon-tasks"></span> Introduction</p></h2>
     <ul>
         <p>This is my personal website that I can see my schedule and show the projects I have done in each course.
            When I want to confirm any information on moodle, I can access the link under this page to connect to moodle.
            After I finished any project, I will put them on this page as a record to show what I have done in each class.
            To motivate myself, there will be different goals for each course.
            The goals may be a project or a skill, depends on the course, my abilities, and professor's requests.</p></h3>
  </ul>

<div>

  <h2><p class="text-center"><span class="glyphicon glyphicon-calendar"></span> Schedule</p></h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Course Number</th>
      <th scope="col">Course Name</th>
      <th scope="col">Meeting Time</th>
      <th scope="col">Building</th>
      <th scope="col">Room</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">IS 601</th>
      <td>Web System Development</td>
      <td>TUE 2:30PM - 5:20PM</td>
      <td>Central King Building</td>
      <td>317</td>
    </tr>
    <tr>
      <th scope="row">IS 661</th>
      <td>User Experience Design</td>
      <td>MON 1:00PM - 3:50PM</td>
      <td>Central King Building</td>
      <td>207</td>
    </tr>
    <tr>
      <th scope="row">IS 663</th>
      <td>System Analysis and Design</td>
      <td>FRI 1:00PM - 3:50PM</td>
      <td>Cullimore Hall</td>
      <td>LECT 3</td>
    </tr>
    <tr>
      <th scope="row">IS 677</th>
      <td>Information System Principles</td>
      <td>THU 1:00PM - 3:50PM</td>
      <td>Central King Building</td>
      <td>215</td>
    </tr>
{% endblock %}
